*{
    box-sizing: border-box;
}

h1{
    font-size: 2.027rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h2{
    font-size: 1.802rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3{
    font-size: 1.266rem;
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

p{
    font-size: 1.150rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}



/* mobile settings */

@media(min-width: 50px){ 


header{
    text-align: center;
}

header img{
    border-radius: 25px;
}

header div{
    display: flex;
    justify-content: space-between;
}

header ul{
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}

header ul li{
    display: inline-block;
    padding: 7px;
}

#Sweetheart nav{
    display:flex;
    flex-wrap: wrap;
}
#Sweetheart nav img:nth-child(1){
    display:flex;
    width: calc(100%);
    order: 1;
    flex-direction: row;
    padding: 6px;
}

#Sweetheart nav img:nth-child(2){
    display:flex;
    width: calc(33%);
    order: 2;
    flex-direction: row;
    padding: 6px;
}

#Sweetheart nav img:nth-child(3){
    display:flex;
    width: calc(33%);
    order: 3;
    flex-direction: row;
    padding: 6px;
}

#Sweetheart nav img:nth-child(4){
    display:flex;
    width: calc(33%);
    order: 4;
    flex-direction: row;
    padding: 6px;
}

#Sweetheart button{
    color: white;
    background-color: black;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 7%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#Saying{
    background-color: black;
    color: white;
    padding: 1rem;
}

#Saying article{
    display: grid;
}

#Prices nav{
    display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  
}

#Prices img{
    width: 100%;
    border-radius: 25px;
}
#Prices p{
    text-align: center;
}

#Prices article{
    display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
}





/* 769px settings */

}

@media(min-width: 768px){ 

    header{
        text-align: center;
    }
    
    header img{
        border-radius: 25px;
    }
    
    header div{
        display: flex;
        justify-content: space-between;
    }
    
    header ul{
        list-style: none;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        text-transform: uppercase;
    }
    
    header ul li{
        display: inline-block;
        padding: 7px;
    }
    
    #Sweetheart nav{
        display:flex;
        flex-wrap: wrap;
    }
    #Sweetheart nav img:nth-child(1){
        display:flex;
        width: calc(50%);
        order: 1;
        flex-direction: row;
        padding: 6px;
        border-radius: 15px;
    }
    
    #Sweetheart nav img:nth-child(2){
        display:flex;
        width: calc(50%);
        order: 2;
        flex-direction: row;
        padding: 6px;
        border-radius: 15px;
    }
    
    #Sweetheart nav img:nth-child(3){
        display:flex;
        width: calc(50%);
        order: 3;
        flex-direction: row;
        padding: 6px;
        border-radius: 15px;
    }
    
    #Sweetheart nav img:nth-child(4){
        display:flex;
        width: calc(50%);
        order: 4;
        flex-direction: row;
        padding: 6px;
        border-radius: 15px;
    }
    
    #Sweetheart button{
        color: white;
        background-color: black;
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        border-radius: 7%;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #Behind{
        background-color: pink;
    }

    #Behind nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    #Behind article{
        padding: 1em;
    }

    #Saying{
        background-color: black;
        color: white;
        padding: 2rem;
    }
    
    #Saying nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #Saying article{
        padding: 1em;
    }
    
    #Prices nav{
        display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 1fr 1fr;
      
    }
    
    #Prices img{
        width: 100%;
        border-radius: 25px;
    }
    #Prices p{
        text-align: center;
    }
    
    #Prices article{
        display: flex;
      flex-direction: column;
      text-align: center;
      padding: 1em;
    }
}    

    /* 960px settings */

    @media(min-width: 960px){ 


        header{
            text-align: center;
        }
        
        header div{
            display: flex;
            justify-content: space-between;
        }
        
        header ul{
            list-style: none;
        }
        
        header ul li{
            display: inline-block;
            padding: 7px;
        }

        #Sweetheart{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }

        #Sweetheart article{
            padding: 1rem;
        }
        
        #Sweetheart nav{
            display:flex;
            flex-wrap: wrap;
        }
        #Sweetheart nav img:nth-child(1){
            display:flex;
            width: calc(50%);
            order: 1;
            flex-direction: row;
            padding: 6px;
            border-radius: 15px;
        }
        
        #Sweetheart nav img:nth-child(2){
            display:flex;
            width: calc(50%);
            order: 2;
            flex-direction: row;
            padding: 6px;
            border-radius: 15px;
        }
        
        #Sweetheart nav img:nth-child(3){
            display:flex;
            width: calc(50%);
            order: 3;
            flex-direction: row;
            padding: 6px;
            border-radius: 15px;
        }
        
        #Sweetheart nav img:nth-child(4){
            display:flex;
            width: calc(50%);
            order: 4;
            flex-direction: row;
            padding: 6px;
            border-radius: 15px;
        }
        
        #Sweetheart button{
            color: white;
            background-color: black;
        }
        
        #Saying{
            background-color: black;
            color: white;
        }
        
        #Prices nav{
            display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          
        }
        
        #Prices img{
            width: 100%;
            border-radius: 25px;
        }
        #Prices p{
            text-align: center;
        }
        
        #Prices article{
            display: flex;
          flex-direction: column;
          text-align: center;
          padding: 1em;
        }


        }